<ion-view view-title="Jobs Applied">
  <ion-content>

    <div class="list">

      <a class="item item-thumbnail-left item-button-right" ng-repeat="(key, card) in selected" href="#/app/details/1">
        <img ng-src="{{card.src}}">
        <h2 style="margin-top: 10px;">{{card.title}}</h2>
        <p>at {{card.name}}</p>
        <p>Position: {{card.position}}</p>
        <button style="margin-top: 25px;" class="button">
          <i class="icon ion-ios-close-empty"></i>
        </button>
      </a>

    </div>

  </ion-content>
</ion-view>
