<ion-view view-title="Details">
  <ion-content>

    <div class="details-header">

      <div class="company-logo">
        <img src="img/logos/starbucks.jpg">
      </div>

      <div class="company-name">Starbucks</div>

      <div class="rate">€9,50/h</div>

    </div>

    <div class="job-skills">
      <i class=""></i>
    </div>

    <div class="job-description">
      <h3 class="sub-title">What</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tincidunt ex ligula. Suspendisse nisi justo, vehicula a faucibus vitae, aliquam quis augue. Nam orci leo, blandit vitae sapien in, eleifend commodo lectus. Vivamus semper nibh ac sem interdum volutpat. Duis nec elementum neque, a ullamcorper turpis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc porttitor varius pharetra. Praesent eget euismod orci, sed feugiat erat. Integer euismod gravida fermentum. Sed at nunc malesuada, consectetur justo id, gravida tellus. Fusce ac elit id ex finibus consequat. Nunc vel porttitor nisl.</p>
    </div>

    <div class="job-location">
      <h3 class="sub-title">Where</h3>
      <img src="img/map.png">
    </div>

  </ion-content>
</ion-view>
