<ion-view view-title="JobHuntr">
  <ion-nav-buttons side="right">
    <a class="button button-icon button-clear applied ion-ios-checkmark" href="#/app/applied">
    </a>
  </ion-nav-buttons>

  <div ng-show="loading" id="avatar" ng-click="toggleRadar()">
    <img ng-src="img/daniel.jpg" />
  </div>

  <div ng-if="loading" id='pulse1'></div>
  <div ng-if="loading" id='pulse2'></div>

    <td-cards ng-hide="loading">
      <td-card ng-click="showDetails(card.id)" ng-repeat="card in cards" on-snap-back="onSnapBack()" on-partial-swipe="cardPartialSwipe(amt, $index)" on-destroy="cardDestroyed($index)">

      <div class="ui card">

        <div ng-if="orientation > 0 && $index === 0 && inMotion" class="apply-tag">Apply!</div>
        <div ng-if="orientation < 0 && $index === 0 && inMotion" class="skip-tag">Skip!</div>

        <div class="image">
          <img ng-src="{{card.src}}"/>
        </div>
        <div class="content">
          <a class="header">{{card.title}}</a>
          <div class="meta">
            <span class="date">at {{card.name}}</span>
          </div>
          <div class="description">
            Kristy is an art director living in New York.
          </div>
        </div>
        <div class="extra content">
          <a>
            <i class="user icon"></i>
            {{card.position}}
          </a>
        </div>
      </div>

    </td-card>
  </td-cards>

</ion-view>
