<ion-view view-title="Profile">
  <ion-content>

    <div class="details-header">

      <div class="company-logo">
        <img ng-src="{{users[0].src}}">
      </div>

      <div class="company-name">
        {{users[0].name}}
      </div>

      <div class="company-name">
        <i class="ion-ios-star"></i>
        <i class="ion-ios-star"></i>
        <i class="ion-ios-star"></i>
        <i class="ion-ios-star"></i>
        <i class="ion-ios-star-half"></i>
        (3)
      </div>
    </div>

    <div class="section job-skills">
      <h3 class="sub-title">Skills</h3>
      <i class="ion-coffee"></i>
    </div>

    <div class="section job-languages">
      <h3 class="sub-title">Laguages</h3>
      <div class="flags">
        <img class="flag" src="img/UK.png"/>
        <img class="flag" src="img/GE.png"/>
        <img class="flag" src="img/ES.png"/>
      </div>
    </div>

    <div class="section job-skills">
      <h3 class="sub-title">Contact</h3>
      {{users[0].phone}}<br>
      {{users[0].email}}
    </div>

  </ion-content>
</ion-view>
